In [1]:
'''
Jeremy Galway
JSON Data wrangling Exercise
9/7/2017

Edits: Suppressed dataframe and series callouts for GitHub
'''

#Import needed modules
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
#Import JSON file into dataframe df
df = pd.read_json('world_bank_projects.json')
df;

In [3]:
#Practice Importing aas String and Normalizing // Side question, cleaner to load as string? 
json_string = json.load((open('world_bank_projects.json')))
json_normalize(json_string);
#Side question realized, imports same as dataframe when normalized. Possible to clean up? I.e. country_namecode

In [4]:
#identify column headers
df.columns;

In [5]:
#Determine number of entries
len(df)

500

In [6]:
#Find top 10 countries with the most projects

In [7]:
#Count the most number of appearances from countryname, restrict to top 10
df.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [8]:
#Find top 10 major project themes

In [9]:
#Might be easiest to pull just the major theme information from the json string
mpt = json.load(open('world_bank_projects.json'))
mpt = json_normalize(mpt, 'mjtheme_namecode', 'id') #Load ID for unique identifier per project

In [10]:
#Verify data
mpt;

In [11]:
#Look at series to see what needs to be added
mpt.groupby(['name','code']).size()

name                                          code
                                              1         5
                                              10       14
                                              11       27
                                              2        15
                                              3         3
                                              4        16
                                              5         5
                                              6        10
                                              7        11
                                              8        13
                                              9         3
Economic management                           1        33
Environment and natural resources management  11      223
Financial and private sector development      4       130
Human development                             8       197
Public sector governance                      2       184
Rule of law                                   3        12
Rural development                             10      202
Social dev/gender/inclusion                   7       119
Social protection and risk management         6       158
Trade and integration                         5        72
Urban development                             9        47
dtype: int64

In [12]:
#Double-checking for correct length
len(mpt)

1499

In [13]:
#Double checking - verify against dataframe df length to ensure correct number of entries
len(mpt.groupby('id').max())

500

In [14]:
#Now we need to fill in any missing theme names
#Set theme code assignments
equiv = {   '1':'Economic Management',
            '2':'Public sector governance',
            '3':'Rule of law',
            '4':'Financial and private sector development',
            '5':'Trade and integration',
            '6':'Social protection and risk management',
            '7':'Social dev/gender/inclusion',
            '8':'Human Development',
            '9':'Urban Development',
            '10':'Rural development',
            '11':'Environment and natural resources management'}
#Fill empty fields with code equivalents
mpt['name'] = mpt['code']
#Convert column to string type
mpt['name'].astype(str)
#Perform map
mpt['name'] = mpt['name'].map(equiv)
#Display completed dataframe
mpt;

In [15]:
#Determine the top 10 major themes
#Group by name, count number of entries and sort from most to least (descending)
mpt.groupby(['name']).size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    250
Rural development                               216
Human Development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban Development                                50
Economic Management                              38
dtype: int64